In [146]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [147]:
df = pd.read_csv('aircraft_category_filled.csv')
df

,Unnamed: 0,Type,Date,Location,Country,Injury_Severity,Damage_Type,Aircraft_Category,Make,Model,...,Engines,Engine_Type,Fatal_Injuries,Serious_Injuries,Minor_Injuries,Uninjured,Weather,Total_Passengers,Year,Month
0,0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal,Destroyed,Airplane,Stinson,108-3,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,UNK,2.0,1948,10
1,1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Fatal,Destroyed,Airplane,Piper,PA24-180,...,1.0,Reciprocating,4.0,0.0,0.0,0.0,UNK,4.0,1962,7
2,2,Accident,1974-08-30,"Saltville, VA",United States,Fatal,Destroyed,Airplane,Cessna,172M,...,1.0,Reciprocating,3.0,0.0,0.0,0.0,IMC,3.0,1974,8
3,3,Accident,1977-06-19,"EUREKA, CA",United States,Fatal,Destroyed,Airplane,Rockwell,112,...,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,2.0,1977,6
4,5,Accident,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,...,2.0,Turbo Fan,0.0,0.0,1.0,44.0,VMC,45.0,1979,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70784,88869,Accident,2022-12-13,"Lewistown, MT",United States,Non-Fatal,Substantial,Airplane,PIPER,PA42,...,2.0,NaN,0.0,0.0,0.0,1.0,NaN,1.0,2022,12
70785,88873,Accident,2022-12-14,"San Juan, PR",United States,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,...,1.0,NaN,0.0,0.0,0.0,1.0,VMC,1.0,2022,12
70786,88876,Accident,2022-12-15,"Wichita, KS",United States,Non-Fatal,Substantial,Airplane,SWEARINGEN,SA226TC,...,2.0,NaN,0.0,0.0,0.0,1.0,NaN,1.0,2022,12
70787,88877,Accident,2022-12-16,"Brooksville, FL",United States,Minor,Substantial,Airplane,CESSNA,R172K,...,1.0,NaN,0.0,1.0,0.0,0.0,VMC,1.0,2022,12
70788,88886,Accident,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,...,1.0,NaN,0.0,0.0,0.0,1.0,VMC,1.0,2022,12

In [148]:
df.isna().sum()

Unnamed: 0              0
Type                    0
Date                    0
Location               18
Country               192
Injury_Severity        72
Damage_Type           847
Aircraft_Category       0
Make                    0
Model                   0
Amateur_Built           0
Engines                 0
Engine_Type          2066
Fatal_Injuries          0
Serious_Injuries        0
Minor_Injuries          0
Uninjured               0
Weather              1113
Total_Passengers        0
Year                    0
Month                   0
dtype: int64

In [149]:
df['Aircraft_Category'].value_counts()

Aircraft_Category
Airplane             64313
Helicopter            6113
Weight-Shift           132
Powered Parachute       81
Glider                  75
Gyrocraft               30
Ultralight              14
Balloon                 14
WSFT                     9
Blimp                    4
Powered-Lift             2
Rocket                   1
Unknown                  1
Name: count, dtype: int64

### Cleaning up the Make column

In [150]:
df['Make'].value_counts()

Make
Cessna                     21408
Piper                      11565
CESSNA                      4372
Beech                       4017
PIPER                       2577
                           ...
Golden Circle                  1
FUJI                           1
PALEN                          1
BUTLER AIRCRAFT COMPANY        1
ORLICAN S R O                  1
Name: count, Length: 1994, dtype: int64

In [151]:
df['Make'] = df['Make'].str.lower()

In [152]:
df['Make'].value_counts()

Make
cessna                    25780
piper                     14142
beech                      4905
bell                       2340
mooney                     1272
                          ...
gt ultralights                1
evektor aerotechnik as        1
lyons                         1
wheat                         1
orlican s r o                 1
Name: count, Length: 1632, dtype: int64

In [153]:
df.loc[df['Make'].str.contains('cessna', na=False), 'Make'] = 'cessna'

In [154]:
df['Make'].value_counts()

Make
cessna                    25835
piper                     14142
beech                      4905
bell                       2340
mooney                     1272
                          ...
collard                       1
gt ultralights                1
evektor aerotechnik as        1
lyons                         1
orlican s r o                 1
Name: count, Length: 1620, dtype: int64

In [155]:
df.loc[df['Make'].str.contains('beech', na=False), 'Make'] = 'beechcraft'

In [156]:
df['Make'].value_counts()

Make
cessna                            25835
piper                             14142
beechcraft                         4978
bell                               2340
mooney                             1272
                                  ...
bell-olympic helicopters, inc.        1
fisher michael h                      1
antares us                            1
sportflight international llc         1
orlican s r o                         1
Name: count, Length: 1608, dtype: int64

In [157]:
df.loc[df['Make'].str.contains('boeing', na=False), 'Make'] = 'boeing'

In [158]:
df['Make'].value_counts()

Make
cessna                    25835
piper                     14142
beechcraft                 4978
bell                       2340
mooney                     1272
                          ...
cubcrafter                    1
collard                       1
gt ultralights                1
evektor aerotechnik as        1
orlican s r o                 1
Name: count, Length: 1597, dtype: int64

In [159]:
df.loc[df['Make'].str.contains('airbus', na=False), 'Make'] = 'airbus'

In [160]:
df['Make'].value_counts()

Make
cessna            25835
piper             14142
beechcraft         4978
bell               2340
mooney             1272
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1591, dtype: int64

In [161]:
df.loc[df['Make'].str.contains('piper', na=False), 'Make'] = 'piper'

In [162]:
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
mooney                           1272
                                ...
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
collard                             1
orlican s r o                       1
Name: count, Length: 1575, dtype: int64

In [163]:
#df.loc[df['Make'].str.contains('bell', na=False), 'Make'] = 'bell'
#df['Make'].value_counts()

In [164]:
df.loc[df['Make'].str.contains('mooney', na=False), 'Make'] = 'mooney'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
mooney             1321
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1568, dtype: int64

In [165]:
df['Make'].value_counts()[:60]

Make
cessna                            25835
piper                             14213
beechcraft                         4978
bell                               2340
mooney                             1321
grumman                            1133
boeing                             1082
bellanca                           1019
robinson                           1004
hughes                              871
air tractor                         647
aeronca                             627
maule                               572
champion                            500
stinson                             433
luscombe                            407
aero commander                      396
taylorcraft                         377
schweizer                           371
north american                      364
de havilland                        343
hiller                              337
aerospatiale                        333
rockwell                            331
mcdonnell douglas                   282
enstrom                             280
robinson helicopter                 227
grumman american                    221
ayres                               217
cirrus design corp                  210
air tractor inc                     203
eurocopter                          191
robinson helicopter company         188
douglas                             166
airbus                              159
ercoupe (eng & research corp.)      158
sikorsky                            158
lake                                141
waco                                138
aviat                               137
swearingen                          127
grumman-schweizer                   127
mitsubishi                          127
embraer                             119
fairchild                           114
socata                              110
ryan                                110
helio                               107
cirrus                              103
dehavilland                          98
learjet                              94
globe                                94
weatherly                            89
wsk pzl mielec                       88
ercoupe                              83
pitts                                78
navion                               77
aviat aircraft inc                   76
american                             74
lockheed                             71
Name: count, dtype: int64

In [166]:
df.loc[df['Make'].str.contains('cirrus', na=False), 'Make'] = 'cirrus'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
mooney             1321
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1564, dtype: int64

In [167]:
df.loc[df['Make'].str.contains('robinson', na=False), 'Make'] = 'robinson'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
robinson           1442
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1558, dtype: int64

In [168]:
df.loc[df['Make'].str.contains('rockwell', na=False), 'Make'] = 'rockwell'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
robinson           1442
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1550, dtype: int64

In [169]:
df.loc[df['Make'].str.contains('grumman', na=False), 'Make'] = 'grumman'
df['Make'].value_counts()

Make
cessna                            25835
piper                             14213
beechcraft                         4978
bell                               2340
grumman                            1597
                                  ...
bell-olympic helicopters, inc.        1
dart                                  1
kociemba robert h                     1
engle david                           1
orlican s r o                         1
Name: count, Length: 1537, dtype: int64

In [170]:
df.loc[df['Make'].str.contains('bellanca', na=False), 'Make'] = 'bellanca'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
grumman            1597
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1535, dtype: int64

In [171]:
df.loc[df['Make'].str.contains('raytheon', na=False), 'Make'] = 'raytheon'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
grumman            1597
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1533, dtype: int64

In [172]:
df.loc[df['Make'].str.contains('bombardier', na=False), 'Make'] = 'bombardier'
df['Make'].value_counts()

Make
cessna                    25835
piper                     14213
beechcraft                 4978
bell                       2340
grumman                    1597
                          ...
cubcrafter                    1
collard                       1
gt ultralights                1
evektor aerotechnik as        1
orlican s r o                 1
Name: count, Length: 1529, dtype: int64

In [173]:
df.loc[df['Make'].str.contains('embraer', na=False), 'Make'] = 'embraer'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
collard                             1
orlican s r o                       1
Name: count, Length: 1523, dtype: int64

In [174]:
df.loc[df['Make'].str.contains('lockheed', na=False), 'Make'] = 'lockheed'
df['Make'].value_counts()

Make
cessna                25835
piper                 14213
beechcraft             4978
bell                   2340
grumman                1597
                      ...
dart                      1
ultralight soaring        1
kociemba robert h         1
engle david               1
orlican s r o             1
Name: count, Length: 1522, dtype: int64

In [175]:
df.loc[df['Make'].str.contains('dassault', na=False), 'Make'] = 'dassault'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
collard                             1
orlican s r o                       1
Name: count, Length: 1518, dtype: int64

In [176]:
df.loc[df['Make'].str.contains('honda', na=False), 'Make'] = 'honda'
df['Make'].value_counts()

Make
cessna                            25835
piper                             14213
beechcraft                         4978
bell                               2340
grumman                            1597
                                  ...
bell-olympic helicopters, inc.        1
dart                                  1
kociemba robert h                     1
engle david                           1
orlican s r o                         1
Name: count, Length: 1516, dtype: int64

In [177]:
df.loc[df['Make'].str.contains('bell textron', na=False), 'Make'] = 'bell textron'
df['Make'].value_counts()

Make
cessna                            25835
piper                             14213
beechcraft                         4978
bell                               2340
grumman                            1597
                                  ...
bell-olympic helicopters, inc.        1
dart                                  1
kociemba robert h                     1
engle david                           1
orlican s r o                         1
Name: count, Length: 1516, dtype: int64

In [178]:
df.loc[df['Make'].str.contains('saab', na=False), 'Make'] = 'saab'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
collard                             1
orlican s r o                       1
Name: count, Length: 1514, dtype: int64

In [179]:
df.loc[df['Make'].str.contains('vodochody', na=False), 'Make'] = 'aero vodochody'
df['Make'].value_counts()

Make
cessna            25835
piper             14213
beechcraft         4978
bell               2340
grumman            1597
                  ...
bristol               1
cubcrafter            1
collard               1
gt ultralights        1
orlican s r o         1
Name: count, Length: 1511, dtype: int64

In [180]:
df.loc[df['Make'].str.contains('pilatus', na=False), 'Make'] = 'pilatus'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
collard                             1
orlican s r o                       1
Name: count, Length: 1508, dtype: int64

In [181]:
df.loc[df['Make'].str.contains('piaggio', na=False), 'Make'] = 'piaggio'
df['Make'].value_counts()

Make
cessna                 25835
piper                  14213
beechcraft              4978
bell                    2340
grumman                 1597
                       ...
ultralight soaring         1
dart                       1
scheibe flugzeugbau        1
kociemba robert h          1
orlican s r o              1
Name: count, Length: 1505, dtype: int64

In [182]:
df.loc[df['Make'].str.contains('gulfstream', na=False), 'Make'] = 'gulfstream'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
wsl pzl                             1
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
orlican s r o                       1
Name: count, Length: 1494, dtype: int64

In [183]:
df.loc[df['Make'].str.contains('mcdonnell', na=False), 'Make'] = 'mcdonnell douglas'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
wsl pzl                             1
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
orlican s r o                       1
Name: count, Length: 1487, dtype: int64

In [184]:
df.loc[df['Make'].str.contains('fairchild', na=False), 'Make'] = 'fairchild'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
wsl pzl                             1
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
orlican s r o                       1
Name: count, Length: 1481, dtype: int64

In [185]:
df.loc[df['Make'].str.contains('israel', na=False), 'Make'] = 'israel aerospace industries'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
wsl pzl                             1
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
orlican s r o                       1
Name: count, Length: 1480, dtype: int64

In [186]:
df.loc[df['Make'].str.contains('convair', na=False), 'Make'] = 'convair'
df['Make'].value_counts()

Make
cessna                          25835
piper                           14213
beechcraft                       4978
bell                             2340
grumman                          1597
                                ...
wsl pzl                             1
eclipse aviation corporation        1
bristol                             1
cubcrafter                          1
orlican s r o                       1
Name: count, Length: 1479, dtype: int64

In [187]:
df['Make'].value_counts()[:60]

Make
cessna                            25835
piper                             14213
beechcraft                         4978
bell                               2340
grumman                            1597
robinson                           1442
mooney                             1321
boeing                             1082
bellanca                           1021
hughes                              871
air tractor                         647
aeronca                             627
maule                               572
champion                            500
stinson                             433
rockwell                            416
luscombe                            407
aero commander                      396
cirrus                              390
taylorcraft                         377
schweizer                           371
north american                      364
de havilland                        343
hiller                              337
aerospatiale                        333
mcdonnell douglas                   330
enstrom                             280
ayres                               217
air tractor inc                     203
eurocopter                          191
gulfstream                          182
douglas                             166
fairchild                           164
airbus                              159
ercoupe (eng & research corp.)      158
sikorsky                            158
lake                                141
waco                                138
aviat                               137
embraer                             134
mitsubishi                          127
swearingen                          127
socata                              110
ryan                                110
helio                               107
dehavilland                          98
learjet                              94
globe                                94
weatherly                            89
wsk pzl mielec                       88
raytheon                             85
ercoupe                              83
bombardier                           80
pitts                                78
navion                               77
aviat aircraft inc                   76
american                             74
lockheed                             72
diamond aircraft ind inc             70
mbb                                  61
Name: count, dtype: int64

In [190]:
df.to_csv('aircraft_category_filled.csv', index=True)

In [ ]:
df[]