# Aircraft Safety Analysis for Potential Expansion into Aviation Business

## Overview

# Business Problem

# Data Understanding

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [7]:
df_original = pd.read_csv('../Data/AviationData.csv', encoding='latin1', low_memory=False)
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

### Original Dataset

In [4]:
df.head()

,Date,Year,Month,Location,Country,Injury_Severity,Damage_Type,Aircraft_Category,Make,Model,...,Weather,Fatal_Injuries_Fraction,Serious_Injuries_Fraction,Minor_Injuries_Fraction,Uninjured_Fraction,Risk_Index,Plane_Size,Make_and_Model,Mean_Risk_Index,Model_Total_Accidents
0,1990-01-01,1990,1,"ELKHART, IN",United States,Non-Fatal,Substantial,Airplane,cessna,150F,...,VMC,0.0,0.0,0.0,1.0,0.0,Small,cessna 150F,0.140244,164
1,1990-01-02,1990,1,"MILLIS, MA",United States,Non-Fatal,Substantial,Airplane,cessna,150,...,VMC,0.0,0.0,1.0,0.0,0.1,Small,cessna 150,0.101643,439
2,1990-01-03,1990,1,"APPLE VALLEY, CA",United States,Non-Fatal,Minor,Airplane,cessna,172M,...,VMC,0.0,0.0,0.0,1.0,0.0,Small,cessna 172M,0.122319,539
3,1990-01-03,1990,1,"SLIPPERY ROCK, PA",United States,Non-Fatal,Substantial,Airplane,aeronca,11CC,...,VMC,0.0,0.0,0.0,1.0,0.0,Small,aeronca 11CC,0.058333,6
4,1990-01-03,1990,1,"APPLE VALLEY, CA",United States,Non-Fatal,Substantial,Airplane,mooney,MARK 22,...,VMC,0.0,0.0,0.0,1.0,0.0,Small,mooney MARK 22,0.000000,1

## Cleaned dataset

The cleaned data is filtered down to US-only accident data from 1990 to 2022. Null values in columns relevant to our analysis have been removed. The original dataset of 88889 entries has been condensed down to 37461 entries. See Dataclean.ipynb, stringcleaning.ipynb, and EDA.ipynb for more details on how the data was cleaned.

In [9]:
df_cleaned = pd.read_csv('../CSVs/data_cleaned_final.csv')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37461 entries, 0 to 37460
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       37461 non-null  object
 1   Year                       37461 non-null  int64
 2   Month                      37461 non-null  int64
 3   Location                   37459 non-null  object
 4   Country                    37461 non-null  object
 5   Injury_Severity            37461 non-null  object
 6   Damage_Type                37461 non-null  object
 7   Aircraft_Category          37461 non-null  object
 8   Make                       37461 non-null  object
 9   Model                      37461 non-null  object
 10  Engines                    37461 non-null  float64
 11  Engine_Type                36420 non-null  object
 12  Fatal_Injuries             37461 non-null  float64
 13  Serious_Injuries           37461 non-null  float64
 14  Minor_Injuries             37461 non-null  float64
 15  Uninjured                  37461 non-null  float64
 16  Total_Passengers           37461 non-null  float64
 17  Weather                    37215 non-null  object
 18  Fatal_Injuries_Fraction    37461 non-null  float64
 19  Serious_Injuries_Fraction  37461 non-null  float64
 20  Minor_Injuries_Fraction    37461 non-null  float64
 21  Uninjured_Fraction         37461 non-null  float64
 22  Risk_Index                 37461 non-null  float64
 23  Plane_Size                 37461 non-null  object
 24  Make_and_Model             37461 non-null  object
 25  Mean_Risk_Index            37461 non-null  float64
 26  Model_Total_Accidents      37461 non-null  int64
dtypes: float64(12), int64(3), object(12)
memory usage: 7.7+ MB